.Snavbar{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.Mnavbar{
    display: flex;
    justify-content: space-between;
}

.search{
    display: flex;
    justify-content: space-around;
    background-color: #1ABA1A;
    border-radius: 10px;
}

.searchBar{
    background: #FFFFFF;
    border-radius: 30px;
}